body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70vh;
    border: 1px solid black;
    border-radius:10px;
}

.container > div {
   background-color: black;
    opacity: 70%;
    padding: 2rem;
    color: white;
    margin: 10px;
    
}

.container > div > input {
    display: block;

}